.container {
  margin: 2rem;
  min-height: 90vh;
  color: #3c046a;
  background-color: #fff9fd;
}
.footerWrapper{
  margin: 2rem;
  text-align: center;
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .container{
    margin: 0rem;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .container{
    margin: 0rem;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .container{
    margin: 0rem;
  }
}
