.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px;
  padding: 10px 0px;
  font-size: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(231, 209, 118, 0.7),
      rgba(40, 180, 133, 0.5)
    ),
    url("../public/images/hero-image.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
}

.logo {
  font-family: "Baloo Da 2", cursive;
}

.heroContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.heroHeading {
  font-size: 4rem;
  margin: 1rem 0;
  letter-spacing: 0.3rem;
}

.heroSubheading {
  font-size: 2rem;
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.contentBlock {
  padding: 5rem 1rem;
  text-align: center;
}

.contentTitle {
  padding: 1rem;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
}

.contentSubtitle {
  margin: 2rem 1rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.featureBox {
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 2.5rem rgb(0 0 0 / 15%);
  transition: all 0.1s;
  width: 35vmin;
}

.blockSecondary {
  background-color: #e7d176;
}

.featureBox span,
.contentSubtitle span {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #e7d176, #28b485);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.featureTitle {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.subheading {
  font-size: 1rem;
}
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.textUpperCase {
  text-transform: uppercase;
}

.inputBox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: 0.8em 0 10px 0.8em;
  border: 1px solid #e7d176;
  outline: 0;
  display: inline-block;
  margin: 0 0 0.8em 0;
  padding-right: 2em;
  width: 50%;
}

.profile {
  display: flex;
}

.profileImage {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #141414;
}

.bio {
  font-size: 0.6em;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.qoute {
  font-size: 0.7em;
  line-height: 1.5;
  border-top: 1px solid #000;
  margin-top: 20px;
  padding: 10px 0;
  text-align: left;
}

.marginTopMax {
  margin-top: 3rem;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .heroContent {
    text-align: center;
  }
  .features {
    flex-direction: column;
    gap: 2rem;
  }
  .featureBox {
    width: 100%;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .heroContent {
    text-align: center;
  }
  .features {
    flex-direction: column;
    gap: 2rem;
  }
  .featureBox {
    width: 100%;
  }
  .heroHeading {
    font-size: 2.5rem;
  }
  .heroSubheading {
    font-size: 1.5rem;
  }
  .contentTitle {
    font-size: 2rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0rem;
  }
  .contentSubtitle {
    font-size: 1.5rem;
  }
  .contentBlock {
    padding: 3rem 1rem;
  }
  .inputBox {
    width: 100%;
  }
  .featureTitle{
    font-size: 1.2rem;
  }
  .featureDesc{
    font-size: 1rem;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .heroContent {
    text-align: center;
  }
  .features {
    flex-direction: column;
    gap: 2rem;
  }
  .featureBox {
    width: 100%;
  }
  .heroHeading {
    font-size: 2.5rem;
  }
  .heroSubheading {
    font-size: 1.5rem;
  }
  .contentTitle {
    font-size: 2rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0rem;
  }
  .contentSubtitle {
    font-size: 1.5rem;
  }
  .contentBlock {
    padding: 3rem 1rem;
  }
  .inputBox {
    width: 100%;
  }
  .featureTitle{
    font-size: 1.2rem;
  }
  .featureDesc{
    font-size: 1rem;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .heroContent {
    text-align: center;
  }
  .features {
    flex-direction: column;
    gap: 2rem;
  }
  .featureBox {
    width: 100%;
  }
  .heroHeading {
    font-size: 2.5rem;
  }
  .heroSubheading {
    font-size: 1.5rem;
  }
  .contentTitle {
    font-size: 2rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0rem;
  }
  .contentSubtitle {
    font-size: 1.5rem;
  }
  .contentBlock {
    padding: 3rem 1rem;
  }
  .inputBox {
    width: 100%;
  }
  .featureTitle{
    font-size: 1.2rem;
  }
  .featureDesc{
    font-size: 1rem;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .heroContent {
    text-align: center;
  }
  .features {
    flex-direction: column;
    gap: 2rem;
  }
  .featureBox {
    width: 100%;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .heroContent {
    text-align: center;
  }
  .features {
    flex-direction: column;
    gap: 2rem;
  }
  .featureBox {
    width: 100%;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .heroContent {
    text-align: center;
  }
  .features {
    flex-direction: column;
    gap: 2rem;
  }
  .featureBox {
    width: 100%;
  }
}
